/bootstrap_build/node_modules
/bootstrap_build/bootstrap
/bootstrap_build/.sass-cache
/.vagrant
/.idea
/oods/sphinxtheme/static/bootstrap-4.0.0/js/*.js
/oods/sphinxtheme/static/bootstrap-4.0.0/js/*.map
/oods/sphinxtheme/static/bootstrap-4.0.0/css/*.css
/data-standard
